* {
  box-sizing: border-box;
  margin: 0;
}

/* header */
header {
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-color: #4ea0ff;
  height: 150px;
  margin-bottom: 30px;
}

header>img {
  width: 300px;
  margin-top: 30px;
}

/* section main title */
h1 {
  font-size: 3rem;
}

.main-title>div:first-of-type {
  font-size: 1.3rem;
}

#author {
  color: #4ea0ff;
}

.date {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* description images */
.description-images {
  font-size: 0.9em;
}

/* paragraphs */
p {
  margin: 20px 0;
}

mark {
  background-color: yellow;
}

/* table */
table {
  margin: 20px 0;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: white;
}

td:nth-of-type(1) {
  width: 20%;
}

td:nth-of-type(2) {
  width: 20%;
}

td:nth-of-type(3) {
  width: 80%;
}

.blue-row {
  background-color: rgb(0, 119, 255);
}

.cyan-row {
  background-color: rgba(59, 226, 255, 0.5);
}

/* footer */
.computer {
  background-image: url('../img/monitor.jpg');
}

.graphics {
  background-image: url('../img/graph.jpg');
}

footer span {
  color: white;
  font-weight: bold;
}

/* utility */
.container {
  width: 70%;
  margin: 0 auto;
}

.mini-container {
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  width: 16%;
  height: 140px;
  padding: 10px;
}